h1{
	color:#f18700;
	margin:5%;
	text-align:center;
}

h2{
	color:#f18700;
	margin:2%;
	text-align:left;
}

p{
		font-family: 'Roboto Condensed', sans-serif;
		font-size:1.5em;
}

.center{
	text-align:left;
}